*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0px;
    
}

/* =================
    Typography 
   ================= */

   /* 
  Challenge: Set the initial styles for text
    - Set the h1 to a relative font-size value equal to 40px
    - Apply a text shadow to the h1 using the color value #816fca
*/
h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-shadow: 0px 2px 2px #816fca;
}
/* 
  Challenge: Set the initial styles for text
    - Set the h2 to a relative font-size value equal to 36px
    - Give the h2 a top and bottom margin value in em equal to 6px
*/

h2 {
    font-size: 2.25rem;
    margin: 0 .167em;
}

/* 
  Challenge: Set the initial styles for text
    - Set the paragraph to a relative font-size value equal to 18px
    - Set the p line-height to 1.35 times its font-size value
    - Give .subheading a bottom margin in em equal to half its font-size value
*/
p {
    font-size: 1.125rem;
    line-height: 1.35;
}
.beta-text,
.top-text,
.subheading {
    text-transform: uppercase;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom: .5em;
}

.top-text {
    font-size: 0.875rem;
    font-weight: 900;
    padding-top: 0.25em;
    border-top: 5px solid;
    order: -2;
    margin: 0px auto;
}

.fine-print {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #858585;
}


/* =================
    Intro
   ================= */

   /* 
  Challenge: Apply a full background image
    - Set the background of .intro to the image `intro-bg.png`
    - The background image should scale to fill the entire
      width and height of .intro while preserving its ratio
*/
   
.intro { 
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #9480e4;
    min-height: 250px;
    justify-content: space-between;
    background-image: url("./images/intro-bg.png");
    background-size: cover;
    padding-bottom: 1.5em;
}

/* ====================
    Main content
   ==================== */
/* 
  Challenge: Style the main content
    - Use flexbox to horizontally center all items inside 
      .main-content. The <p> text should remain left-aligned.
    - Use em to give .main-content a top padding equal to 40px
      and a left and right padding equal to 32px.
    - Set the width of .img-main to 120px and display it as a rounded image.
*/
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5em 2em;
}

.main-content, p {
    max-width: 450px;
}

.img-main {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* =================
    Form
   ================= */

/* 
  Challenge: Style the form inputs
    - Display each input on a separate line so they
      expand to the full width of their container
    - Use a bottom margin to create space between the input elements
    - Apply a padding in em that's equal to half the input's
      font-size to all 4 sides
*/

/* 
  Challenge: Style the form inputs
    - Give the inputs a solid 2px border using the value #d1d5db
    - Round the corners of the input fields by 5px
    - On focus, update an input’s border color to #8a71ec
      and background color to #e6e8ec
*/
/* 
  Challenge: Style the submit button
    - The button should have the same font-family, width
      and border-radius of the input elements
    - Use the .btn selector to set the custom button styles;
      use the slide as a guide
    - Button colors:
      - Background: #8a71ec
      - Background on hover: #b7a7f6
*/

form {
    width: 90%;
    margin-right: 40px;
}
input, .btn {
    font-family: inherit;
    width: 100%;
    border-radius: 5px;
}

input {
    display: block;
    padding: 6px 12px;
    margin-bottom: .8em;
    margin-left: 0;
    border: 2px solid #d1d5db;

}

input:focus {
    outline: none;
    border-color: #8a71ec;
    background-color: #e6e8ec;
}
.btn {
    padding: .8em;
    border:0;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-primary {
    background-color: #8a71ec;
    color: white;
    margin-top: 1em;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #b7a7f6;
}

/* =================
    Media queries 
   ================= */



   /* 
  Challenge: Adjust text for wider screens
    - In the media query, increase the h1 font-size to
      a rem value equal to 52px
    - Increase the h2 font-size to a rem value equal to 42px
    - Increase the font-size of .beta-text to a 
      rem value equal to 20px
*/
@media (min-width: 576px) {
    body {
        display: flex;
    }
    .intro, .main-content { 
        width: 50%;
    }
    .main-content {
        justify-content: center;
        padding-top:0px;
    }
    .intro {
        height: 100vh
    }
    h1 {
        font-size: 5vw;
    }
    h2 {
        font-size: 2.625rem;
    }
    .beta-text {
        font-size: 1.25rem;
    }

}